.header {
  height: 100px;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main {
  height: 600px;
  background-color: rgb(108, 95, 160);
}

.footer {
  height: 100px;
  background-color: rgb(95, 160, 101);
}

@media screen and (min-width: 900px) {
  .header {
    background-color: red;
  }
}
